/* global styles css  */

@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kanit";
  src: url("../fonts/Kanit-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  transition: 0.1s all ease-in;
  scrollbar-width: thin;
  scrollbar-color: #0f0077 #fff;
}

#app {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: inherit;
}

textarea {
  resize: none;
}

:root {
  scrollbar-width: thin;
  scrollbar-color: #0f0077 #fff;

  --azul-oscuro: #0f0077;
  --negro-mate: #000;
  --amarillo: #ffff00;
  --naranja: #ff5900;
  --blanco: #ffff;
  --gris: #7a7471;
  --morado: #bf3eff;
  --rosa: #ff2bde;

  --shadow-azul-oscuro: rgba(15, 0, 119, 0.25);
  --shadow-negro-mate: rgba(0, 0, 0, 0.25);
  --shadow-amarillo: rgba(255, 255, 0, 0.25);
  --shadow-naranja: rgba(255, 89, 0, 0.25);
  --shadow-blanco: rgba(255, 255, 255, 0.25);
  --shadow-gris: rgba(122, 116, 113, 0.25);
  --shadow-morado: rgba(191, 62, 255, 0.25);
  --shadow-rosa: rgba(255, 43, 222, 0.25);
  --shadow: rgba(0, 0, 0, 0.25);

  --shadow-azul-oscuro-50: rgba(15, 0, 119, 0.5);
  --shadow-50: rgba(0, 0, 0, 0.5);
  --shadow-amarillo-50: rgba(255, 255, 0, 0.5);
  --shadow-naranja-50: rgba(255, 89, 0, 0.5);
  --shadow-blanco-50: rgba(255, 255, 255, 0.5);
  --shadow-gris-50: rgba(122, 116, 113, 0.5);
  --shadow-morado-50: rgba(191, 62, 255, 0.5);
  --shadow-rosa-50: rgba(255, 43, 222, 0.5);

  --gradiant-bg: rgb(6, 0, 50) ;
  --gradiant-linear: linear-gradient(
    189deg,
    rgba(6, 0, 50, 1) 0%,
    rgba(0, 0, 0, 0.8409488795518207) 100%
  );

  --shadow-light-blue: rgba(0, 85, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
