/* styles for menu vertical  */
.container-menu-vertical {
  width: 25vw;
  height: 40vh;
  top: 8vh;
  right: 0;
  padding: 2vh;
  background: var(--negro-mate);
  border: 1px solid var(--gris);
  border-radius: 1vh;
  position: fixed;
  z-index: 99999;
  display: none;
}

.list-menu-vertical-revista {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.item-menu-vertical-revista {
  display: flex;
  align-items: center;
  margin: 0.1vh 0 0.1vh 0;
}

.image-menu-vertical-revista {
  width: 4vh;
  margin: 0 1vh 0 0;
  object-fit: cover;
}

.link-menu-vertical-revista {
  font-size: 2.2vh;
  font-weight: 500;
  color: var(--gris);
}

.authors-menu-vertical-revista {
  padding: 0.5vh 2vh 0.5vh 2vh;
  font-size: 2.2vh;
  bottom: 10px;
  right: 10px;
  border: 1px solid var(--blanco);
  color: var(--blanco);
  background: transparent;
  border-radius: 0.2vh;
  cursor: pointer;
  position: absolute;
}

/* events  */
.menu-vertical-display-flex-revista {
  display: flex;
}

/* responsive */
@media screen and (min-width: 900px) {
  .container-menu-vertical {
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
  .container-menu-vertical {
    width: 35vw;
  }
}

@media screen and (max-width: 400px) {
  .container-menu-vertical {
    width: 50vw;
  }
}
