/* navbar for revista  */

.container-navbar-revista {
  width: 100%;
  font-family: sans-serif, "poppins";
}

.navbar-revista {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.logo-revista-png {
  width: 8vh;
  height: 8vh;
  object-fit: cover;
}

.list-nav-revista {
  width: 80%;
  list-style: none;
  display: flex;
  justify-content: center;
}

.item-nav-revista {
  margin: 0 2vh 0 2vh;
  font-size: 2.2vh;
  color: var(--blanco);
  cursor: pointer;
}

.item-nav-revista:nth-child(1) {
  animation: scale_1 3s infinite linear;
}

.cat-special-revista {
  font-size: 2.2vh;
  font-weight: 600;
  text-shadow: 1vh 1vh 2vh var(--shadow-naranja-50);
}

.button-authors-revista {
  padding: 0.5vh 2vh 0.5vh 2vh;
  font-size: 2.4vh;
  border: 1px solid var(--blanco);
  color: var(--blanco);
  background: transparent;
  border-radius: 0.2vh;
  cursor: pointer;
}

.search-active-revista {
  width: 8vh;
  height: 8vh;
  padding: 1.4vh;
  background: transparent;
  border: none;
  cursor: pointer;
}

.image-png-revista {
  width: 100%;
  object-fit: cover;
}

.container-search-revista {
  width: 100%;
  height: 100%;
  display: none;
}

.input-search-revista {
  width: 90%;
  height: 100%;
  padding: 1em;
  border: none;
  border-bottom: 1px solid var(--gris);
  outline: none;
  font-size: 3vh;
  color: var(--negro-mate);
}

.submit-revista {
  display: none;
}

.search-close-revista {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8vh;
  border: none;
  background: var(--blanco);
  height: 100%;
  color: var(--negro-mate);
  cursor: pointer;
}

.button-menu-revista {
  width: 6vh;
  height: 6vh;
  padding: 0.8vh;
  background: transparent;
  border: none;
  display: none;
}

/* events  */

.scroll-navbar {
  position: fixed !important;
  border-bottom: 1px solid var(--gris);
  background: var(--shadow-50);
  box-shadow: 1em 1em 2em var(--shadow);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 99999;
}

.display-flex-revista {
  display: flex !important;
}

.display-none-revista {
  display: none !important;
}

.item-nav-revista:active {
  color: var(--gris);
}

@media screen and (hover: hover) {
  .item-nav-revista:hover {
    color: #ffffffcd;
  }
}

/* animations  */
@keyframes scale_1 {
  0% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
}

/* responsive  */
@media screen and (max-width: 1300px) {
  .logo-revista-png {
    width: 7vh;
    height: 7vh;
  }

  .item-nav-revista {
    margin: 0 1.5vh 0 1.5vh;
    font-size: 2vh;
  }

  .cat-special-revista {
    font-size: 2.1vh;
  }

  .button-authors-revista {
    padding: 0.5vh 1.5vh 0.5vh 1.5vh;
    font-size: 2.2vh;
  }

  .search-active-revista {
    width: 7vh;
    height: 7vh;
    padding: 1vh;
  }
}

@media screen and (max-width: 950px) {
  .logo-revista-png {
    width: 6vh;
    height: 6vh;
  }

  .item-nav-revista {
    margin: 0 1vh 0 1vh;
    font-size: 1.8vh;
  }

  .cat-special-revista {
    font-size: 2vh;
  }

  .button-authors-revista {
    padding: 0.5vh 1.2vh 0.5vh 1.2vh;
    font-size: 2vh;
  }

  .search-active-revista {
    width: 6vh;
    height: 6vh;
    padding: 0.8vh;
  }
}

@media screen and (max-width: 900px) {
  .navbar-revista {
    position: relative;
    justify-content: end;
  }

  .logo-revista-png {
    margin: 0 0 0 4vh;
    position: absolute;
    left: 0;
  }

  .list-nav-revista {
    display: none;
  }

  .button-authors-revista {
    display: none;
  }

  .search-active-revista,
  .button-menu-revista {
    margin: 0 2vh 0 0;
  }

  .button-menu-revista {
    display: flex;
  }
}
